include profileAction
table.table
    thead
        tr
            th
                th Prenom
                th Nom
                th Domaine
                th e-mail
    tbody
        each mail in mails
            tr
                td
                    td fName
                    td lName
                    td domain
                    td mail

button.btn.btn-primary(type="submit" onclick="window.open('data/mail.csv')") Download